ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 362px;
  }
}
@media screen and (min-width: 744px) {
  .container {
    width: 660px;
  }
}
@media screen and (min-width: 1199px) {
  .container {
    width: 1284px;
  }
}
.case-title {
  font-family: Judson;
  color: #FFFFFF;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -0.02em;
  font-size: 54px;
  margin-bottom: 41px;
}
@media screen and (min-width: 744px) {
  .case-title {
    font-size: 57px;
    margin-bottom: 47px;
  }
}
@media screen and (min-width: 1199px) {
  .case-title {
    font-size: 60px;
    margin-bottom: 69px;
  }
}

.case-list-text {
  font-family: Inter;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  max-width: 180px;
}
@media screen and (min-width: 744px) {
  .case-list-text {
    font-size: 13px;
    line-height: 19.5px;
    max-width: 240px;
  }
}
@media screen and (min-width: 1199px) {
  .case-list-text {
    font-size: 16px;
    line-height: 24px;
    max-width: 350px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.case-list-link {
  color: #FFFFFF;
  background-color: #1668E3;
  border-radius: 40px;
  font-family: Abel;
  font-weight: 400;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  line-height: 16.8px;
  padding: 11px 11px;
}
@media screen and (min-width: 744px) {
  .case-list-link {
    font-size: 14px;
    line-height: 16.8px;
    padding: 11px 11px;
  }
}
@media screen and (min-width: 1199px) {
  .case-list-link {
    font-size: 24px;
    line-height: 28.8px;
    padding: 11px 43px;
  }
}

@media screen and (min-width: 744px) {
  .case-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}
@media screen and (min-width: 1199px) {
  .case-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 22px;
  }
}

.case {
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 375px) {
  .case {
    background-image: url("../phone-img/phone-x1-case.jpg");
    padding-top: 55px;
    padding-bottom: 140px;
    padding-left: 66px;
    padding-right: 93px;
  }
  @supports (background-image: url("../phone-img/phone-x1-case.webp")) {
    .case {
      background-image: url("../phone-img/phone-x1-case.webp");
    }
  }
}
@media screen and (min-width: 375px) and (min-device-pixel-ratio: 2), screen and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 375px) and (min-resolution: 192dpi), screen and (min-width: 375px) and (min-resolution: 2dppx) {
  .case {
    background-image: url("../phone-img/phone-x2-case.jpg");
  }
  @supports (background-image: url("../phone-img/phone-x2-case.webp")) {
    .case {
      background-image: url("../phone-img/phone-x2-case.webp");
    }
  }
}
@media screen and (min-width: 375px) and (min-device-pixel-ratio: 3), screen and (min-width: 375px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 375px) and (min-resolution: 288dpi), screen and (min-width: 375px) and (min-resolution: 3dppx) {
  .case {
    background-image: url("../phone-img/phone-x3-case.jpg");
  }
  @supports (background-image: url("../phone-img/phone-x3-case.webp")) {
    .case {
      background-image: url("../phone-img/phone-x3-case.webp");
    }
  }
}
@media screen and (min-width: 744px) {
  .case {
    background-image: url("../tab-img/tab-x1-case.jpg");
    padding-top: 121px;
    padding-bottom: 121px;
    padding-left: 41px;
    padding-right: 41px;
  }
  @supports (background-image: url("../tab-img/tab-x1-case.webp")) {
    .case {
      background-image: url("../tab-img/tab-x1-case.webp");
    }
  }
}
@media screen and (min-width: 744px) and (min-device-pixel-ratio: 2), screen and (min-width: 744px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 744px) and (min-resolution: 192dpi), screen and (min-width: 744px) and (min-resolution: 2dppx) {
  .case {
    background-image: url("../tab-img/tab-x2-case.jpg");
  }
  @supports (background-image: url("../tab-img/tab-x2-case.webp")) {
    .case {
      background-image: url("../tab-img/tab-x2-case.webp");
    }
  }
}
@media screen and (min-width: 744px) and (min-device-pixel-ratio: 3), screen and (min-width: 744px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 744px) and (min-resolution: 288dpi), screen and (min-width: 744px) and (min-resolution: 3dppx) {
  .case {
    background-image: url("../tab-img/tab-x3-case.jpg");
  }
  @supports (background-image: url("../tab-img/tab-x3-case.webp")) {
    .case {
      background-image: url("../tab-img/tab-x3-case.webp");
    }
  }
}
@media screen and (min-width: 1199px) {
  .case {
    background-image: url("../desk-img/desk-x1-case.jpg");
    padding-top: 89px;
    padding-bottom: 147px;
    padding-left: 80px;
    padding-right: 79px;
  }
  @supports (background-image: url("../desk-img/desk-x1-case.webp")) {
    .case {
      background-image: url("../desk-img/desk-x1-case.webp");
    }
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .case {
    background-image: url("../desk-img/desk-x2-case.jpg");
  }
  @supports (background-image: url("../desk-img/desk-x2-case.webp")) {
    .case {
      background-image: url("../desk-img/desk-x2-case.webp");
    }
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 1199px) and (min-resolution: 3dppx) {
  .case {
    background-image: url("../desk-img/desk-x3-case.jpg");
  }
  @supports (background-image: url("../desk-img/desk-x3-case.webp")) {
    .case {
      background-image: url("../desk-img/desk-x3-case.webp");
    }
  }
}

.case-list-item {
  background-color: rgba(255, 255, 255, 0.1490196078);
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 48px;
  padding-bottom: 35px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 212px;
  margin: 0 auto;
}
@media screen and (min-width: 744px) {
  .case-list-item {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 48px;
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1199px) {
  .case-list-item {
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 48px;
    padding-bottom: 51px;
    width: 412px;
  }
}

.case-list-item:hover {
  background-color: #FFFFFF;
  cursor: pointer;
}
.case-list-item:hover .case-list-text {
  color: #151515;
}

.case-list-first-text {
  padding-bottom: 43px;
}
@media screen and (min-width: 744px) {
  .case-list-first-text {
    padding-bottom: 43px;
  }
}
@media screen and (min-width: 1199px) {
  .case-list-first-text {
    padding-bottom: 73px;
  }
}

.case-list-sec-text {
  padding-bottom: 43px;
}
@media screen and (min-width: 744px) {
  .case-list-sec-text {
    padding-bottom: 43px;
  }
}
@media screen and (min-width: 1199px) {
  .case-list-sec-text {
    padding-bottom: 73px;
  }
}

.case-list-small-text {
  padding-bottom: 158px;
}
@media screen and (min-width: 744px) {
  .case-list-small-text {
    padding-bottom: 158px;
  }
}
@media screen and (min-width: 1199px) {
  .case-list-small-text {
    padding-bottom: 157px;
  }
}

.case-list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-list-text {
  font-family: Abel;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  letter-spacing: -0.02em;
  font-size: 12px;
  line-height: 14.4px;
}
@media screen and (min-width: 744px) {
  .contacts-list-text {
    font-size: 12px;
    line-height: 14.4px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts-list-text {
    font-size: 16px;
    line-height: 19.2px;
  }
}

.contacts-list-link {
  font-family: Abel;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-size: 16px;
  line-height: 19.2px;
}
@media screen and (min-width: 744px) {
  .contacts-list-link {
    font-size: 16px;
    line-height: 19.2px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts-list-link {
    font-size: 24px;
    line-height: 28.8px;
  }
}

.footer-text {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Abel;
  font-weight: 400;
  letter-spacing: -0.03em;
  font-size: 12px;
  line-height: 15.12px;
}
@media screen and (min-width: 744px) {
  .footer-text {
    font-size: 20px;
    line-height: 25.2px;
  }
}
@media screen and (min-width: 1199px) {
  .footer-text {
    font-size: 20px;
    line-height: 25.2px;
  }
}

.footer {
  background-color: #151515;
  padding-top: 34px;
  padding-bottom: 30px;
}
@media screen and (min-width: 744px) {
  .footer {
    padding-top: 67px;
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 1199px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 52px;
  }
}

.footer-img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 744px) {
  .footer-img-div {
    gap: 40px;
    padding-bottom: 6px;
  }
}
@media screen and (min-width: 1199px) {
  .footer-img-div {
    gap: 29px;
    padding-bottom: 25px;
  }
}

.contacts-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 132px;
}
@media screen and (min-width: 744px) {
  .contacts-texts {
    gap: 101px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts-texts {
    gap: 150px;
  }
}

.contacts-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  margin-top: 15px;
}
@media screen and (min-width: 744px) {
  .contacts-links {
    gap: 31px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts-links {
    gap: 40px;
    margin-top: 10px;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 15px;
  padding-top: 83px;
  padding-bottom: 32px;
}
@media screen and (min-width: 744px) {
  .footer-list {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1199px) {
  .footer-list {
    padding-bottom: 41px;
  }
}

.contacts-list {
  padding-top: 32px;
}
@media screen and (min-width: 744px) {
  .contacts-list {
    padding-top: 67px;
  }
}
@media screen and (min-width: 1199px) {
  .contacts-list {
    padding-top: 50px;
  }
}

.footer-img {
  display: none;
}
@media screen and (min-width: 744px) {
  .footer-img {
    display: inline;
  }
}
@media screen and (min-width: 1199px) {
  .footer-img {
    display: inline;
  }
}

.hero-title {
  color: #FFFFFF;
  font-family: Judson;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 329px;
  max-width: 309px;
}
@media screen and (min-width: 744px) {
  .hero-title {
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 299px;
    max-width: 448px;
  }
}
@media screen and (min-width: 1199px) {
  .hero-title {
    font-size: 90px;
    line-height: 90px;
    max-width: 600px;
    margin-bottom: 266px;
  }
}

.hero-text {
  color: #FFFFFF;
  font-family: Abel;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  max-width: 100px;
}
@media screen and (min-width: 744px) {
  .hero-text {
    font-size: 26px;
    line-height: 26px;
    max-width: 155px;
  }
}
@media screen and (min-width: 1199px) {
  .hero-text {
    font-size: 36px;
    line-height: 36px;
    max-width: 320px;
  }
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 122px;
  padding-bottom: 76px;
  background-image: url("../phone-img/phone-x1-hero.jpg");
}
@supports (background-image: url("../phone-img/phone-x1-hero.webp")) {
  .hero {
    background-image: url("../phone-img/phone-x1-hero.webp");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../phone-img/phone-x2-hero.jpg");
  }
  @supports (background-image: url("../phone-img/phone-x2-hero.webp")) {
    .hero {
      background-image: url("../phone-img/phone-x2-hero.webp");
    }
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .hero {
    background-image: url("../phone-img/phone-x3-hero.jpg");
  }
  @supports (background-image: url("../phone-img/phone-x3-hero.webp")) {
    .hero {
      background-image: url("../phone-img/phone-x3-hero.webp");
    }
  }
}
@media screen and (min-width: 744px) {
  .hero {
    padding-top: 166px;
    padding-bottom: 33px;
    background-image: url("../tab-img/tab-x1-hero.jpg");
  }
  @supports (background-image: url("../tab-img/tab-x1-hero.webp")) {
    .hero {
      background-image: url("../tab-img/tab-x1-hero.webp");
    }
  }
}
@media screen and (min-width: 744px) and (min-device-pixel-ratio: 2), screen and (min-width: 744px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 744px) and (min-resolution: 192dpi), screen and (min-width: 744px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../tab-img/tab-x2-hero.jpg");
  }
  @supports (background-image: url("../tab-img/tab-x2-hero.webp")) {
    .hero {
      background-image: url("../tab-img/tab-x2-hero.webp");
    }
  }
}
@media screen and (min-width: 744px) and (min-device-pixel-ratio: 3), screen and (min-width: 744px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 744px) and (min-resolution: 288dpi), screen and (min-width: 744px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../tab-img/tab-x3-hero.jpg");
  }
  @supports (background-image: url("../tab-img/tab-x3-hero.webp")) {
    .hero {
      background-image: url("../tab-img/tab-x3-hero.webp");
    }
  }
}
@media screen and (min-width: 1199px) {
  .hero {
    padding-top: 154px;
    padding-bottom: 64px;
    background-image: url("../desk-img/desk-x1-hero.jpg");
  }
  @supports (background-image: url("../desk-img/desk-x1-hero.webp")) {
    .hero {
      background-image: url("../desk-img/desk-x1-hero.webp");
    }
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../desk-img/desk-x2-hero.jpg");
  }
  @supports (background-image: url("../desk-img/desk-x2-hero.webp")) {
    .hero {
      background-image: url("../desk-img/desk-x2-hero.webp");
    }
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 1199px) and (min-resolution: 3dppx) {
  .hero {
    background-image: url("../desk-img/desk-x3-hero.jpg");
  }
  @supports (background-image: url("../desk-img/desk-x3-hero.webp")) {
    .hero {
      background-image: url("../desk-img/desk-x3-hero.webp");
    }
  }
}

.hero-title-span {
  font-family: Judson;
  color: #1668E3;
  font-weight: 400;
  letter-spacing: -0.02em;
  font-size: 48px;
  line-height: 48px;
}
@media screen and (min-width: 744px) {
  .hero-title-span {
    font-size: 64px;
    line-height: 64px;
  }
}
@media screen and (min-width: 1199px) {
  .hero-title-span {
    font-size: 90px;
    line-height: 90px;
  }
}

.hero-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #1668E3;
  padding-top: 61px;
  gap: 16px;
}
@media screen and (min-width: 744px) {
  .hero-text-wrap {
    gap: 30px;
  }
}
@media screen and (min-width: 1199px) {
  .hero-text-wrap {
    gap: 46px;
  }
}

.services {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("../phone-img/phone-x1-services.jpg");
  padding-top: 431px;
  padding-bottom: 40px;
}
@supports (background-image: url("../phone-img/phone-x1-services.webp")) {
  .services {
    background-image: url("../phone-img/phone-x1-services.webp");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: url("../phone-img/phone-x2-services.jpg");
  }
  @supports (background-image: url("../phone-img/phone-x2-services.webp")) {
    .services {
      background-image: url("../phone-img/phone-x2-services.webp");
    }
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .services {
    background-image: url("../phone-img/phone-x3-services.jpg");
  }
  @supports (background-image: url("../phone-img/phone-x3-services.webp")) {
    .services {
      background-image: url("../phone-img/phone-x3-services.webp");
    }
  }
}
@media screen and (min-width: 744px) {
  .services {
    background-image: url("../tab-img/tab-x1-services.jpg");
    padding-top: 579px;
    padding-bottom: 78px;
  }
  @supports (background-image: url("../tab-img/tab-x1-services.webp")) {
    .services {
      background-image: url("../tab-img/tab-x1-services.webp");
    }
  }
}
@media screen and (min-width: 744px) and (min-device-pixel-ratio: 2), screen and (min-width: 744px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 744px) and (min-resolution: 192dpi), screen and (min-width: 744px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("../tab-img/tab-x2-services.jpg");
  }
  @supports (background-image: url("../tab-img/tab-x2-services.webp")) {
    .services {
      background-image: url("../tab-img/tab-x2-services.webp");
    }
  }
}
@media screen and (min-width: 744px) and (min-device-pixel-ratio: 3), screen and (min-width: 744px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 744px) and (min-resolution: 288dpi), screen and (min-width: 744px) and (min-resolution: 3dppx) {
  .services {
    background-image: url("../tab-img/tab-x3-services.jpg");
  }
  @supports (background-image: url("../tab-img/tab-x3-services.webp")) {
    .services {
      background-image: url("../tab-img/tab-x3-services.webp");
    }
  }
}
@media screen and (min-width: 1199px) {
  .services {
    background-image: url("../desk-img/desk-x1-services.jpg");
    padding-top: 560px;
    padding-bottom: 70px;
  }
  @supports (background-image: url("../desk-img/desk-x1-services.webp")) {
    .services {
      background-image: url("../desk-img/desk-x1-services.webp");
    }
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 1199px) and (min-resolution: 2dppx) {
  .services {
    background-image: url("../desk-img/desk-x2-services.jpg");
  }
  @supports (background-image: url("../desk-img/desk-x2-services.webp")) {
    .services {
      background-image: url("../desk-img/desk-x2-services.webp");
    }
  }
}
@media screen and (min-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 1199px) and (min-resolution: 3dppx) {
  .services {
    background-image: url("../desk-img/desk-x3-services.jpg");
  }
  @supports (background-image: url("../desk-img/desk-x3-services.webp")) {
    .services {
      background-image: url("../desk-img/desk-x3-services.webp");
    }
  }
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1199px) {
  .services-list {
    gap: 4px;
  }
}

.services-list-item {
  background-color: rgba(255, 255, 255, 0.1490196078);
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.services-list-item:hover {
  background-color: #FFFFFF;
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
  cursor: pointer;
}
.services-list-item:hover .services-list-title {
  color: black;
}
.services-list-item:hover .services-sub-list-item {
  color: black;
}

.services-list-title {
  font-family: Inter;
  font-size: 54px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-bottom: 40px;
}
@media screen and (min-width: 744px) {
  .services-list-title {
    width: 420px;
  }
}
@media screen and (min-width: 1199px) {
  .services-list-title {
    width: 420px;
  }
}

.services-sub-list-item {
  font-family: Abel;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.services-sub-list-item:not(:first-child) {
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */