.case-title{
    font-family: Judson;
color:#FFFFFF ;
font-weight: 400;

@include mob(375px){
    font-size: 54px;
    line-height: 54px;
    letter-spacing: -0.02em; 
    padding-top: 55px;  
    padding-bottom: 41px;
}
@include tab(744px){
    font-size: 57px;
    line-height: 54px;
    letter-spacing: -0.02em;
        padding-bottom: 47px;
        padding-top: 121px;
}
@include desc(1199px){
    font-size: 60px;
    line-height: 54px;
    letter-spacing: -0.02em;
    padding-bottom: 69px;
    padding-top: 89px;
}
}
.case-list-text{
    font-family: Inter;
color:#FFFFFF ;
font-weight: 400;

@include mob(375px){
    font-size: 13px;
    line-height: 19.5px;
     padding-top: 48px;       
     padding-left: 16px;
    padding-right: 16px;
     max-width: 180px;
}
@include tab(744px){
    font-size: 13px;
    line-height: 19.5px;
    max-width: 240px;
padding-top: 48px;
padding-left: 16px;
padding-right: 16px;
}
@include desc(1199px){
    font-size: 16px;
    line-height: 24px;
    align-items: start;
    max-width: 350px;
 padding-top: 58px;
 padding-left: 31px;
padding-right: 31px;
}
}
.case-list-btn{
 
color:#FFFFFF ;
background-color: #1668E3;
border-radius: 40px;
@include mob(375px){
    font-family: Abel;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    max-width:174px ;
    margin-bottom:35px ;
    margin-left: 14px;
}
@include tab(744px){
    font-family: Abel;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 34px;
    max-width: 174px;
    margin-left: 13px;
}
@include desc(1199px){
    font-family: Abel;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 53px;
    max-width: 364px;
    margin-left: 24px;
}
}
.case-list{
    @include mob(375px){
        padding-bottom: 140px;
    }
    @include tab(744px){
        display: flex;
        gap: 12px;
        padding-bottom: 121px;
    }
    @include desc(1199px){
        display: flex;
        gap: 22px;
        padding-bottom: 147px;
    }   
}

.case{

@include mob(375px){
    @include bg-image ("../phone-img/phone-x1-case.webp" , "../phone-img/phone-x1-case.jpg");
    @include retina (2, 192dpi, 2dppx){
    @include bg-image ("../phone-img/phone-x2-case.webp", "../phone-img/phone-x2-case.jpg");
}
    @include retina(3, 288dpi, 3dppx) {
    @include bg-image("../phone-img/phone-x3-case.webp", "../phone-img/phone-x3-case.jpg");
}
}
@include tab(744px){
    @include bg-image ("../tab-img/tab-x1-case.webp" , "../tab-img/tab-x1-case.jpg");
    @include retina (2, 192dpi, 2dppx){
    @include bg-image ("../tab-img/tab-x2-case.webp", "../tab-img/tab-x2-case.jpg");
}
    @include retina(3, 288dpi, 3dppx) {
    @include bg-image("../tab-img/tab-x3-case.webp", "../tab-img/tab-x3-case.jpg");
}
}
@include desc(1199px){
    @include bg-image ("../desk-img/desk-x1-case.webp" , "../desk-img/desk-x1-case.jpg");
    @include retina (2, 192dpi, 2dppx){
    @include bg-image ("../desk-img/desk-x2-case.webp", "../desk-img/desk-x2-case.jpg");
}
    @include retina(3, 288dpi, 3dppx) {
    @include bg-image("../../desk-img/desk-x3-case.webp", "../desk-img/desk-x3-case.jpg");
}
}
}
.case-list-item{
    background-color: #FFFFFF26;
    @include mob(375px){
        border-radius: 20px;
        margin-bottom: 24px;
        width: 212px;
        margin-left: 75px;
    }
    @include tab(744px){
        margin: 0 auto;
        width: 212px;
    }
    @include desc(1199px){
        width: 412px;
        margin: 0 auto;
    }

}
.case-list-item:hover{
    background-color: #FFFFFF;
    .case-list-text{
        color: #151515;
    }
}
.case-list-first-text{
    @include mob(375px){
        padding-bottom: 43px;
    }
    @include tab(744px){
        padding-bottom: 43px;
    }
    @include desc(1199px){
        padding-bottom: 73px;
    }
    }
    .case-list-sec-text{
        @include mob(375px){
            padding-bottom: 43px;
        }
        @include tab(744px){
            padding-bottom: 43px;
        }
        @include desc(1199px){
            padding-bottom: 73px;
        }
    }
    .case-list-small-text{
        @include mob(375px){
            padding-bottom: 158px;
        }
        @include tab(744px){
            padding-bottom: 158px;
        }
        @include desc(1199px){
            padding-bottom: 157px;
        }
    }

