.case-title{
    font-family: Judson;
font-size: 54px;
font-weight: 400;
line-height: 54px;
letter-spacing: -0.02em;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#FFFFFF ;
}
.case-list-text{
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#151515 ;
}
.case-list-btn{
    font-family: Abel;
font-size: 24px;
font-weight: 400;
line-height: 28.8px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:#FFFFFF ;
}
.case{
background-image: url(../../img/Rectangle\ 90.png);
}