.contacts-list-text{
    font-family: Abel;
    color:#FFFFFF66 ;
    font-weight: 400;
    letter-spacing: -0.02em;
    @include mob(375px){
        font-size: 12px;
        line-height: 14.4px;
    }
    @include tab(744px){
        font-size: 12px;
        line-height: 14.4px;  
    }
    @include desc(1199px){
        font-size: 16px;
        line-height: 19.2px;
    }
    }
    
    .contacts-list-link{
        font-family: Abel;
    color:#FFFFFF ;
    font-weight: 400;
    letter-spacing: -0.02em;
    @include mob(375px){
        font-size: 16px;
        line-height: 19.2px;
    }
    @include tab(744px){
        font-size: 16px;
        line-height: 19.2px;
    }
    @include desc(1199px){
        font-size: 24px;
        line-height: 28.8px;
    }
    }
    
    .footer-text{
    color:#FFFFFF ;
    display: flex;
    justify-content: center;
    font-family: Abel;
    font-weight: 400;
    letter-spacing: -0.03em;

    @include mob(375px){
        font-size: 12px;
        line-height: 15.12px;
       
    }
    @include tab(744px){
        font-size: 20px;
        line-height: 25.2px;
        
    }
    @include desc(1199px){
        font-size: 20px;
        line-height: 25.2px;
       
    }
    }
    .footer{
        background-color: #151515;
        @include mob(375px){
            padding-top: 34px;
            padding-bottom: 30px;
        }
        @include tab(744px){
            padding-top: 67px;
            padding-bottom: 35px;
        }
        @include desc(1199px){
            padding-top: 50px;
            padding-bottom: 52px;
        }
    }
    .footer-img-div{
        display: flex;
        justify-content: center;
        @include tab(744px){
            gap: 40px;
            padding-bottom: 6px;

        }
        @include desc(1199px){
            gap: 29px;
            padding-bottom: 25px;
        }
    }
    .contacts-texts{
        display: flex;
        @include mob(375px){
            gap: 132px;
        }
        @include tab(744px){
            gap: 101px;
        }
        @include desc(1199px){
            gap: 150px;
        }
    }
    .contacts-links{
        display: flex;
        @include mob(375px){
            gap: 64px;
            margin-top:15px ;
        }
        @include tab(744px){
            gap:31px ;
            margin-top: 15px;
        }
        @include desc(1199px){
            gap: 40px;
            margin-top: 10px;
        }
    }
    .footer-list{
        display: flex;
        justify-content: end;
        gap: 15px;
        @include mob(375px){
            padding-top: 83px;
            padding-bottom: 32px;
        }
        @include tab(744px){
            padding-bottom: 24px;
        }
        @include desc(1199px){
            padding-bottom: 41px;
        }
}
        .contacts-list{
            @include mob(375px){
                padding-top: 32px;
            }
            @include tab(744px){
                padding-top: 67px;
            }
            @include desc(1199px){
                padding-top: 50px;
            }
        }
 .footer-img{
    @include mob(375px){
        display: none;
    }
    @include tab(744px){
    display: inline;
    }
    @include desc(1199px){
    display: inline;
    }
 }