contacts-list-text{
font-family: Abel;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
letter-spacing: -0.02em;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

contacts-list-link{
font-family: Abel;
font-size: 24px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: -0.02em;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

footer-text{
font-family: Abel;
font-size: 20px;
font-weight: 400;
line-height: 25.2px;
letter-spacing: -0.03em;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}