.hero-title{
color:#FFFFFF ;
font-family: Judson;
font-weight: 400;
letter-spacing: -0.02em;
@include mob(375px){

    font-size: 48px;
    line-height: 48px;
    margin-bottom: 329px;
    max-width: 309px;
}
@include tab(744px){

    font-size: 64px;
    line-height: 64px;
    margin-bottom: 299px;   
    max-width: 448px;
}
@include desc(1199px){
    
    font-size: 90px;
    line-height: 90px;
    max-width: 600px;
    margin-bottom: 266px;
}
}
.hero-text{
color:#FFFFFF ;
font-family: Abel;
@include mob(375px){
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.02em;
    max-width: 100px;
}
@include tab(744px){
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.02em;
    max-width: 155px;
}
@include desc(1199px){
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.02em;
    max-width: 320px;
}
}
.hero{
    @include mob(375px){
        padding-top: 122px;
    padding-bottom: 76px;
    @include bg-image ("../phone-img/phone-x1-hero.webp" , "../phone-img/phone-x1-hero.jpg");
    @include retina (2, 192dpi, 2dppx){
    @include bg-image ("../phone-img/phone-x2-hero.webp", "../phone-img/phone-x2-hero.jpg");
}
    @include retina(3, 288dpi, 3dppx) {
    @include bg-image("../phone-img/phone-x3-hero.webp", "../phone-img/phone-x3-hero.jpg");
}
    }
    @include tab(744px){
        padding-top:166px ;
        padding-bottom:33px ;
        @include bg-image ("../tab-img/tab-x1-hero.webp" , "../tab-img/tab-x1-hero.jpg");
        @include retina (2, 192dpi, 2dppx){
        @include bg-image ("../tab-img/tab-x2-hero.webp", "../tab-img/tab-x2-hero.jpg");
    }
        @include retina(3, 288dpi, 3dppx) {
        @include bg-image("../tab-img/tab-x3-hero.webp", "../tab-img/tab-x3-hero.jpg");
    }
    }
    @include desc(1199px){
        padding-top:154px ;
        padding-bottom:64px ;
        @include bg-image ("../desk-img/desk-x1-hero.webp" , "../desk-img/desk-x1-hero.jpg");
        @include retina (2, 192dpi, 2dppx){
        @include bg-image ("../desk-img/desk-x2-hero.webp", "../desk-img/desk-x2-hero.jpg");
    }
        @include retina(3, 288dpi, 3dppx) {
        @include bg-image("../desk-img/desk-x3-hero.webp", "../desk-img/desk-x3-hero.jpg");
    }
    }
}
.hero-title-span{
    font-family: Judson;
color:#1668E3 ;
font-weight: 400;
@include mob(375px){
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.02em;
}
@include tab(744px){
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;

}
@include desc(1199px){
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -0.02em;
}
}

.hero-text-wrap{
    display: flex;
    justify-content: center;
    @include mob(375px){
        gap: 16px;
}
@include tab(744px){
    gap: 30px;
}
@include desc(1199px){
    gap: 46px;
}
}

