.services{
    @include mob(375px){
    background-image: url("../../img/phone-bg2-x1.jpg");
    }
    @include tab(744px){
        background-image: url("../../img/tab-bg2-x1.jpg");
    }
    @include desc(1199px){
        background-image: url("../../img/BG2-desk-x1.jpg");
    }
}